* {
  box-sizing: border-box;
}
.App {
  padding-top: 40px;
  min-height: 100vh;
  text-align: center;
  background: #ffafc5 url(https://i.pinimg.com/736x/e7/25/dd/e725dd54c20eb5f793bc5838da704c14.jpg) no-repeat center top / cover;
  background: #ffafc5 url(https://mewallpaper.com/thumbnail/games/9265-workspace-desk-flat-lay-hq-image-free-wallpaper.jpg) no-repeat center top / cover;
  background: #e6d0a8 url(https://i.pinimg.com/736x/09/1d/4f/091d4f1bebc76ea61eec0b9d8af26e5f.jpg) no-repeat center top / cover;
  
}

h1 {
  background-color: rgba(255, 255, 255, 0.9);
}
